

<table class="racer_table">
  <tr id="player1_strip">
    <td><%= @player1.name %></td>
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id="player2_strip">
    <td><%= @player2.name %></td>
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<div class="player1"> player 1 wins </div>
<div class="player2"> player 2 wins </div>
